
/*Global */
/*  '.'  dot represents the class objects*/
/* "#" represents the id object  */


body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5:;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

ul{
  margin: 0;
  padding: 0;
}

.container{
width: 80%
margin: auto;
overflow: hidden;
}

/*header*/
header{
  text-align: center;
  background:#551a8b; 
  color: #000000;
  font-weight: bold;
  min-height: 110px;
  border-bottom: #ee0000 7px solid;
  border-top: #551a8b 20px solid;
}
/*the links at the top of the page*/
header a{

  color: #f4f4f4;
  font-size: 16px;
  text-decoration: none
}
header a:hover{
  color:#ee0000;
  font-weight:bold;
}
header #subtitle{

  color: #000000;
  font-size: 14px;
  text-decoration: none;
  
}

.Border1{

  background:url('../img/Mandelbrot_Set.jpg') repeat /*-40px -60px*/ ;
  background-color: #551a8b;
  float:center;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 0px;
  padding-bottom: 10%;*/
    overflow: hidden;
}
/*menu horizontally*/


.Border2{

  background:url('../img/mendlebrot.jpg') repeat /*-40px -60px*/ ;
  background-color: #551a8b;
  float:center;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 0px;
  padding-bottom: 10%;*/
    overflow: hidden;
}
header li{
  float: left;
  display: inline;     /*causes the characters to format in a horizontal line*/
  padding: 3px 15px 3px 15px;
/*  padding-left: 1%;
 padding-right: 1%;*/
}

header h2{
  color: #f4f4f4;
  font-size: 22px;
  text-decoration: none
}

header #culogo{
  float: left;
  padding-left: 1%;
  padding-right: 25%;
  padding-top: 0px;
  }

header #mercTitle{
  color: #f4f4f4;
  font-size: 22px;
  text-decoration: none;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: #ee0000 7px solid;
}  

header nav {
  float:right;
  }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
section p{
  text-align: center;
  color:black;
  font-size: 16px;
}


 .mainBody{
  background:url('../img/chalk.jpg') repeat ;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  float:center;
  /*width: 80%*/
  margin: auto;
  overflow: hidden;
 text-align: center;

  /*color:#ffffff; */

}
.letter{
  color: #ee0000;
}

 a{
  color: #e10000;
}

 #mainSection{
  text-align: center;
  color:#ffffff;
}

 #mainArticle{

  /*background:url('../img/chalk.jpg')  ;*/
padding-top: 5px;
font-size: 16px;
text-align: left
}



.schedual{

  padding: 3%;
  /*float:right;*/

}
/*
aside {
  padding:1%;
  float: bottom;
  background-color:green;
}
*/

 table{
  background-color: #ffff00;
  border: 2px solid black;
  font-size: 15px;
  border-collapse: collapse;
  text-align: left;
}


tr{
  width:100px;
  border-bottom: 4px solid #000;
  text-align: left;
  padding: 4px;
  border: 1px solid black;
  color: #000000;
  padding: 13px ;
  font-size:16px;
  font-weight: bold;
}


th {
  border-bottom: 4px solid #000;
  text-align: left;
  padding: 4px;
  border: 1px solid black;
  background-color: #0f5ef0;
  color: white;
}
td {
  border-bottom: 2px solid #666;
  padding: 4px;
  border: 1px solid black;
  text-align: left;
  vertical-align: top

}



footer{
  padding-top: 5%;
  font-style: italic;
  background-color:lightblue;
  text-align: center;
}
footer a{
  text-decoration: underline;

}

footer span {

}









